<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="chainingid">
  <test thread-count="5" name="passingidtodiffertclasses">
    <classes>
      <class name="Day3.getuserchaining2"/>
      
      <class name="Day3.updateuserchaining2"/>
      <class name="Day3.createuserchaining"/>
      <class name="Day3.deleteuserchaining2"/>
    </classes>
  </test> <!-- passingidtodiffertclasses -->
</suite> <!-- chainingid -->
